# Simple program to recognize digits from images

In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv("train.csv")

In [3]:
df_test = pd.read_csv("test.csv")

In [4]:
df_train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
x_train = df_train.loc[:,'pixel12':'pixel780']
y_train = df_train.loc[:,'label']

In [7]:
x_test = df_test.loc[:,'pixel12':'pixel780']
#y_test = df_test.loc[:,'label']

In [8]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=9)
classifier.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=9, p=2,
           weights='uniform')

In [9]:
y_pred = classifier.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9605339105339106

In [16]:
df_test = pd.DataFrame(y_pred, columns = ['Label'])

In [19]:
df_test_1= df_test.reset_index()

In [18]:
df_test.head()

   Label
0      2
1      0
2      9
3      9
4      3

In [20]:
df_test_1.head()

   index  Label
0      0      2
1      1      0
2      2      9
3      3      9
4      4      3

In [22]:
export = df_test.to_csv("sample_submission_1.csv", header=True)